.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

.formInput{
    height: 30px;
    margin: 10px 0;
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }